@import 'bootstrap/dist/css/bootstrap.min.css';


body {
  margin: 0;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  font-family: sans-serif;
}

/* Optional: Smooth transition between colors */
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.Avatar{
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #007bff;
  color: white;
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  .options {
    grid-template-columns: 1fr !important; 
  }

  .Quiz-header .Title {
    flex-direction: column;
    align-items: center;
  }

    .Quiz-header .Title .btn{
      position: static !important;
      width: 100%;
    }

    .quiz-card .question {
      font-size: 20px !important;
    }
  
}